@charset "utf-8";
p{
	margin:0px;
	padding:0px;
	font-size:14px;
}
.kiri{
	width:30%;
	float:left;
}
.kanan{
	width:70%;
	float:right;	
}
.character {
    position: relative !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    top: -35px !important;
}
.icon {
    margin-right: 10px;
}
.skill {
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
    border: 0px none;
}
/* CSS Document */

