- var pageTitle = 'Dota | Home'

include presentation-header

include presentation-header (Home)

include menu

article#presentation


	section
      h2 DotA (Defense Of The Ancient)
      h3 MoonLightTrinity
      ul
        li Riken (13 111 0097)
        li Dicksen (13 111 0267)
        li Darim (13 111 0861)
        li Stephen (13 111 1220)
    section
      h2 INTRODUCTION
      ul
        li
          p
            | DotA adalah sebuah Multiplayer Online/Offline Battle Arena Modification dari video game Warcraft III: Reign Of Chaos dan juga Warcraft III: Frozen Throne.
        li
          p
            | Skenario dari game ini adalah untuk menghancurkan "Ancient" dari tim lawan, yang dijaga secara ketat pada masing - masing sudut map.
        li
          p
            | Player sendiri menggunakan Heroes, dan dibantu oleh pasukan yang dikontrol oleh AI.
    section
      h2 INTRODUCTION (cont.)
      ul
        li
          p
            | Game ini di kembangkan dengan aplikasi "World Editor" yang dimunculkan saat Warcraft III : Reign Of Chaos dengan nama DotA-Allstars, oleh Developer pertamanya yaitu : "Eul".
        li.DevList
          | Berikut Developer yang pernah mengembangkan DotA Allstars :
          ol.Dev
            li Eul (2003 - Warcraft III: Frozen Throne release)
            li Meian and Ragn0r (?? - ??)
            li Steve "Guinsoo" Feak (2004 - 2005)
            li Neichus and Icefrog (2004 - ??)
            li Icefrog (?? - ??)

		
include presentation-footer
include main-footer
