- var pageTitle = 'Hero INT Sentinel'

include presentation-header

include presentation-header (Hero)

include menu

article#presentation

section
      h2 Rylai Crestfall  -  Crystal Maiden
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Crystal Maiden/icon.JPG')
            .character
              img(src='images/Int/Sentinel/Crystal Maiden/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.55 / 0
            p
              | Damage: 38 - 44
            p
              | Casting Animation: 0.3 / 2.4
            p
              | Armor: 1.28
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 280
            p
              | Missile Speed: 900
            p
              | Attack Range: 600
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | The Crystal Maiden is a powerful disabler and support spellcaster. Each of her offensive spells impairs the target in some way, making her a valuable addition to any lineup. Crystal Nova allows her to blast multiple enemies with chilling damage, and Frostbite completely stops a single target enemy from moving for several seconds. Freezing Field causes immense damage and slows everything in a large area around Rylai, but her natural fragility makes it a difficult spell to use to its full effect. Despite the usefulness of all of her spells to her allies, perhaps her greatest asset to her team is Brilliance Aura. This aura gives all allies across the map a significant boost to their mana regeneration, giving them plenty of energy to use their own spells no matter where they are. Although she tends to take on a supportive role, the Crystal Maiden is still one of the most valuable heroes for any team.
          li
            h4 BACKGROUND STORY
            p
              | Adept in the manipulation of frost and ice, Rylai is the very image of elegeance and grace. Trained by a renegade wizard deep in the heart of Winterspring, Rylai brings to the Sentinel her prowess in the arts of magic. With a vast arsenal of spells, she wreaks havoc upon her foes - be it with powerful blasts of frost to send them fleeing in panic, or be it by rendering them immobile in ice. Her foes tremble in fear as the ground beneath implodes in mighty novas of frost in a dazzling array, obliterating all who dare oppose her
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Crystal Maiden/skill-0.jpg')
              img(src='images/Int/Sentinel/Crystal Maiden/skill-1.JPG')
              img(src='images/Int/Sentinel/Crystal Maiden/skill-2.JPG')
              img(src='images/Int/Sentinel/Crystal Maiden/skill-3.jpg')
    section
      h2 Aiushtha  -  Enchantress
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Enchantress/icon.JPG')
            .character
              img(src='images/Int/Sentinel/Enchantress/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.3 / 0.7
            p
              | Damage: 45 - 47
            p
              | Casting Animation: 0.3 / 0.51
            p
              | Armor: 0.66
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 310
            p
              | Missile Speed: 900
            p
              | Attack Range: 550
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p Coming soon.
          li
            h4 BACKGROUND STORY
            p
              | Although all Dryads are Cenarius' daughters, Aiushtha is said to be his first and favorite. Because of her direct relation to him, she has borrowed much of his power. This is demonstrated by her control over the shy Wisps which she uses to heal her allies, and her ability to bring an opponent under the will of the Sentinel. Preferring ranged combat to melee, she fashioned a spear that strikes with more force the further her target is away. Her agility is unmatched, and any opponent attempting to kill her will find she skips ahead of them with surprising ease.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Enchantress/skill-0.JPG')
              img(src='images/Int/Sentinel/Enchantress/skill-1.jpg')
              img(src='images/Int/Sentinel/Enchantress/skill-2.jpg')
              img(src='images/Int/Sentinel/Enchantress/skill-3.jpg')
    section
      h2 Puck - Faerie Dragon
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Puck/icon.JPG')
            .character
              img(src='images/Int/Sentinel/Puck/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.5 / 0.8
            p
              | Damage: 47 - 58
            p
              | Casting Animation: 0.1 / 0.51
            p
              | Armor: 2.08
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 295
            p
              | Missile Speed: 900
            p
              | Attack Range: 550
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | Loved by aggressive players everywhere, Puck the Fairie Dragon is one of the best heroes in the game at starting fights. Puck's skills are useful in any situation, giving him a lot of flexibility and making him a great hero in both support and offensive roles. His signatue skill, Illusory Orb, is an example of this. Although it functions like a regular line damage spell, at any time during its course Puck can use his Ethereal Jaunt skill and instantly teleport to the position of the Illusory Orb. This makes the spell useful in both attacking and escaping. It also works perfectly with his second offensive spell, Waning Rift. Waning Rift deals damage and silences in an area around Puck, making it the natural choice for use after an Illusory Orb and Ethereal Jaunt. Puck's final offensive spell, Dream Coil, can be used either before or after this combo with great effect. Dream Coil traps enemies in a small area, forcing them to remain near the target point or take damage and get stunned. To complement his need to get up into his target's face, Puck has Phase Shift to help in sticky situations. Phase Shift renders Puck invulnerable for several seconds, although he is unable to move in this state. Puck is a relatively easy hero to pick up, but a rewarding one to master.
          li
            h4 BACKGROUND STORY
            p
              | In Sentinel's search for heroes to aid them in the war against the Scourge, they discovered the lost lands of the mystical Faerie Dragons. Upon explaining the conflict to the Faerie Queen of Agrace, she sent forth Puck, a personal guardian, to turn the tides of war. Despite his small size and mischievous personality, the little dragon soon proved to pack more than his fair share of power on the battlefield, blasting through the enemy ranks with balls of magic, faerie dust, and the capability to stupefy an entire army with nothing more than his imagination. His foes all learned the hard way that size matters not in combat, and that appearances are, ultimately, deceiving.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Puck/skill-0.JPG')
              img(src='images/Int/Sentinel/Puck/skill-1.JPG')
              img(src='images/Int/Sentinel/Puck/skill-2.JPG')
              img(src='images/Int/Sentinel/Puck/skill-3.jpg')
    section
      h2 Chen - Holy Knight
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Chen/icon.JPG')
            .character
              img(src='images/Int/Sentinel/Chen/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.5 / 0.5
            p
              | Damage: 43 - 53
            p
              | Casting Animation: 0.3 / 0.51
            p
              | Armor: 1.1
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 300
            p
              | Missile Speed: 1100
            p
              | Attack Range: 600
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | Chen's standard gameplay is different than most other heroes. His Holy Persuasion skill allows him to convert creeps to his side, including powerful neutral creeps such as the Centaur or Furbolg. As a result, Chen is usually found in the forest searching for creeps to convert. When he finds a strong creep or two, he descends on his unwary enemies, using both his own spells and the abilities of his persuaded creeps to take them out. Due to the difficulty of effectively controlling multiple units and abilities, Chen can be a tricky hero to play to his full potential. When ambushing an enemy hero, Chen generally uses his Penitence ability, which slows the target and causes them to take extra damage from Chen and his allies. The Holy Knight can use Test of Faith to finish off enemies, but it also doubles as a way to save allies who are in danger. Casting Test of Faith on an ally will teleport them to safety after a short time. Chen's support skills are rounded out by Hand of God, a healing spell which instantly restores a set amount of life to all allied heroes across the battlefield. Although Chen can be difficult for newer players, users with experience controlling multiple units effectively will find him very powerful.
          li
            h4 BACKGROUND STORY
            p
              | In Sentinel's search for heroes to aid them in the war against the Scourge, they discovered the lost lands of the mystical Faerie Dragons. Upon explaining the conflict to the Faerie Queen of Agrace, she sent forth Puck, a personal guardian, to turn the tides of war. Despite his small size and mischievous personality, the little dragon soon proved to pack more than his fair share of power on the battlefield, blasting through the enemy ranks with balls of magic, faerie dust, and the capability to stupefy an entire army with nothing more than his imagination. His foes all learned the hard way that size matters not in combat, and that appearances are, ultimately, deceiving.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Chen/skill-0.JPG')
              img(src='images/Int/Sentinel/Chen/skill-1.gif')
              img(src='images/Int/Sentinel/Chen/skill-2.jpg')
              img(src='images/Int/Sentinel/Chen/skill-3.jpg')
    section
      h2 Ezalor - Keeper of the Light
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Ezalor/icon.JPG')
            .character
              img(src='images/Int/Sentinel/Ezalor/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.3 / 0.85
            p
              | Damage: 38 - 54
            p
              | Casting Animation: 0.3 / 2.4
            p
              | Armor: 1.1
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 315
            p
              | Missile Speed: 900
            p
              | Attack Range: 600
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | The Keeper of the Light is a one man support team. He has a wide variety of support spells for any situation. He is a master of manipulating mana, with Chakra Magic to restore large amounts of energy to his allies and Mana Leak to drain it from his foes. Illuminate turns the Keeper of the Light into a piece of artillery. After a long charge up time, Illuminate releases a massive shockwave of energy, dealing huge amounts of damage to all enemies in its path. Due to its long channeling period, this spell is generally most effective in large offensive or defensive pushes. Spirit Form further elevates the support skills of the Keeper. While in Spirit Form, he no longer needs to be present to channel Illuminate; a spirit charges it for him, allowing him to move freely and cast other spells. He also gains the valuable Recall and Blinding Light spells while transformed. Recall can teleport any allied hero to his location from anywhere on the battlefield, and Blinding Light releases a massive pulse of light which knocks enemies away and causes them to miss most of their attacks for a few seconds afterwards. For support-minded players, it's tough to find a better hero.
          li
            h4 BACKGROUND STORY
            p
              | Master of light and mana manipulation, Ezalor was once viewed as a scholar, and was regarded as a powerful mentor to many. However, his defection and betrayal of his allies during the War of the Magi caused him to be sentenced to banishment to the spirit realm for all of eternity. However, knowing of his tremendous power, the Sentinel granted him a corporeal form within the physical realm in exchange for his alliance against the Scourge onslaught. As such, Ezalor carries his duties of supporting his comrades valiantly despite the treacherous past that most know little about.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Ezalor/skill-0.JPG')
              img(src='images/Int/Sentinel/Ezalor/skill-1.JPG')
              img(src='images/Int/Sentinel/Ezalor/skill-2.JPG')
              img(src='images/Int/Sentinel/Ezalor/skill-3.JPG')
    section
      h2 Zeus - Lord of Olympus
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Zeus/icon.JPG')
            .character
              img(src='images/Int/Sentinel/Zeus/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.633 / 0.366
            p
              | Damage: 41 - 49
            p
              | Casting Animation: 0.4 / 0.5
            p
              | Armor: 1.54
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 295
            p
              | Missile Speed: 1100
            p
              | Attack Range: 350
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | Zeus has one role: offensive spellcaster. His spell damage output is probably the highest of any hero in the game, due to the great damage and low cooldown periods of his spells. Arc Lightning strikes a large number of enemies with a relatively low damage chain lightning, but due to its low cost and cooldown it can be cast a large number of times during a battle. Lightning Bolt is easy to understand: lots of damage! Compared to a lot of other offensive spells, Lightning Bolt's damage, cooldown, and mana cost are very good, and it is Zeus' primary means for dealing with enemy heroes. Although Zeus has a passive skill, it is in fact another way to blast his enemies with even more spell damage. Every time Zeus casts a spell, Static Field shocks nearby enemy heroes for a small percentage of their life. This means Zeus will continue to deal good damage throughout the game as enemy heroes get higher and higher life. Perhaps Zeus' most feared ability is Thundergod's Wrath. When cast, this spell causes a bolt of lightning to strike all enemy heroes on the battlefield. This spell is especially useful for finishing off nearly dead heroes who are fleeing from battle, but it is also useful to give Zeus and his allies an edge in team fights.
          li
            h4 BACKGROUND STORY
            p
              | Once a deity of unfathomable might, Zeus reluctantly sacrificed his much relished immortality in exchange for the chance to crush the sinister armies of the unholy undead. As his soul crossed into the mortal plane, his omnipotent powers withered greatly, yet not nearly enough to quell this destructive Thunder God's resolve for justice. With sheer precision, he cleanses through the enemy ranks with an impressive mastery of electrical discharge, smiting the fool hardy with formidable bolts of lightning from the heavens above. Ever vigilant in his relentless assault, the Scourge cowers in fear of incurring the fearsome wrath of the Lord of Olympia.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Zeus/skill-0.JPG')
              img(src='images/Int/Sentinel/Zeus/skill-1.JPG')
              img(src='images/Int/Sentinel/Zeus/skill-2.JPG')
              img(src='images/Int/Sentinel/Zeus/skill-3.gif')
    section
      h2 Nortrom - Silencer
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Silencer/icon.JPG')
            .character
              img(src='images/Int/Sentinel/Silencer/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.5 / 0.5
            p
              | Damage: 43 - 57
            p
              | Casting Animation: 0.3 / 0.51
            p
              | Armor: 1.24
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 300
            p
              | Missile Speed: 1000
            p
              | Attack Range: 600
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | The Silencer is among the minority of intelligence heroes who rely on their physical attack to take down enemy heroes. Although Curse of the Silent deals surprisingly good damage to unprepared opponents, the Silencer's real power lies in his Glaives of Wisdom. With powerful intelligence items, the Silencer is capable of easily out-damaging many strength and agility heroes who focus on their physical attacks. Since he needs powerful items to be effective, the Silencer is best utilized by players who enjoy killing a lot of creeps and getting as much gold as possible. Both of his silencing abilities are very useful in combat, especially against enemy spellcasters who like to cast a lot of spells in quick succession. Last Word is an offensive aura which silences enemies after they cast a spell. This will completely ruin the deadly combos of a lot of dangerous spellcasters, making the Silencer an excellent counter to this type of enemy. Global Silence is perhaps his most powerful spell when used at the proper moment. If cast at the beginning of a large battle, this spell can mean the difference between an easy victory and a crushing defeat.
          li
            h4 BACKGROUND STORY
            p
              | Hailing from the magical community of Quel'Thalas, Nortrom is one of the strongest Elven warriors defending the integrity of the lands. Mastering the ancient art of glaive-throwing, and combining it with the volatile nature of the Blood Elves' arcane magic, he is able to disrupt the magical energies in his enemies. By binding his magical powers to his glaive, he is able to cause damage beyond devastation, gaining intelligence from every kill. Concentrating all his energies, he can cause chaos within his enemies' magical pools, making them unable to cast spells. He is determined to fend off the Scourge and their demon magic until he has breathed his last.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Silencer/skill-0.JPG')
              img(src='images/Int/Sentinel/Silencer/skill-1.JPG')
              img(src='images/Int/Sentinel/Silencer/skill-2.jpg')
              img(src='images/Int/Sentinel/Silencer/skill-3.JPG')
    section
      h2 Furion - Prophet
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Phropet/icon.JPG')
            .character
              img(src='images/Int/Sentinel/Phropet/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.4 / 0.77
            p
              | Damage: 45 - 59
            p
              | Casting Animation: 0.5 / 1.17
            p
              | Armor: 3.52
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 295
            p
              | Missile Speed: 1125
            p
              | Attack Range: 600
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | Furion the Prophet is an unusual intelligence hero. His only damaging spell is his ultimate, and it is more effective when cast far from enemies to allow it to build in damage. Instead, Furion relies on his physical attack and his allies to take down enemy heroes. He is also a great sieger with his summoned Treants. Furion's main advantage is his amazing mobility. Using Teleportation, he can quickly be anywhere on the battlefield practically at will. A Prophet with good map awareness can be an invaluable help to his allies, since he can potentially be in any battle anywhere on the map. Using Sprout, he can trap enemy heroes and finish them off with his strong physical attack and allied help. After dealing with any resistance, he can summon an army of Treants and quickly destroy enemy towers and buildings before they have a chance to retaliate. Furion's final spell, Nature's Wrath, can be used to soften up targets across the map and give him a lot of gold from dying enemy creeps. For combating Furion and also playing him, map awareness is key.
          li
            h4 BACKGROUND STORY
            p
              | The land is never safe. Furion, therefore, never rests. The leader of all Night Elves, Furion tirelessly works to protect the sanctity of his woods. It comes as no surprise that he who helped defeat Archimonde would be called upon once more in the Sentinel's hour of need. The fury of nature is at his disposal, the trees come to life at his command, the wind carries him to lands far away, and nature itself strikes all who defy his will. He is more than just a Keeper or a Prophet, he is a savior.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Phropet/skill-0.JPG')
              img(src='images/Int/Sentinel/Phropet/skill-1.JPG')
              img(src='images/Int/Sentinel/Phropet/skill-2.JPG')
              img(src='images/Int/Sentinel/Phropet/skill-3.JPG')
    section
      h2 Lina Inverse - Slayer
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Lina/icon.JPG')
            .character
              img(src='images/Int/Sentinel/Lina/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.75 / 0.78
            p
              | Damage: 40 - 58
            p
              | Casting Animation: 0.45 / 1.08
            p
              | Armor: 1.24
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 295
            p
              | Missile Speed: 900
            p
              | Attack Range: 670
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | The Slayer is one of the deadlier offensive spellcasters, capable of killing fragile heroes with one combo of her spells. Her two main offensive spells provide a powerful area of effect combo. Dragon Slave fires a quick fiery projectile which deals good damage and has pretty high range. Light Strike Array is Lina's stun spell. Due to her relatively slow cast time it can be difficult to hit moving enemies with this spell, however. Many Lina players cast Light Strike Array right after an ally uses another stun, making the spell much easier to hit and prolonging the total disable time. To support her offensive gameplay style, Lina has a passive skill called Fiery Soul. Every time she casts any of her other spells, Lina gains a temporary movement and attack speed bost, allowing her to chase down and kill fleeing enemies. Lina also has the most damaging single-target spell in the game: Laguna Blade. This devastating blast of energy is one of the best ways to finish off injured enemies. Often heroes who thought they were safe are blasted into oblivion by a single Laguna Blade.
          li
            h4 BACKGROUND STORY
            p
              | A renowned pyromancer roaming the lands, Lina Inverse originally joined the Sentinel for monetary purposes. However, weeks turned into months, and fighting alongside the many holy warriors with fearless souls inspired her with the responsibility of protecting the sanctity of the World Tree. With her devastating abilities to summon vaporizing flames, she wreaks havoc among the enemy ranks. In dire situations, she would imbue herself with an ultimate fervor, or even call forth a massive beam of lightning which is said to instantly slay any single foe. A most feared enemy of the Scourge, a most unswerving defender of the Sentinel.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Lina/skill-0.JPG')
              img(src='images/Int/Sentinel/Lina/skill-1.gif')
              img(src='images/Int/Sentinel/Lina/skill-2.jpg')
              img(src='images/Int/Sentinel/Lina/skill-3.JPG')
    section
      h2 Raijin Thunderkeg - Strom Spirit
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Raijin/icon.JPG')
            .character
              img(src='images/Int/Sentinel/Raijin/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.5 / 0.3
            p
              | Damage: 45 - 55
            p
              | Casting Animation: 0.3 / 0.51
            p
              | Armor: 5.08
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 290
            p
              | Missile Speed: 1100
            p
              | Attack Range: 480
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | A hero for the adrenaline junkies, the Storm Spirit provides arguably the best non stop movement of any hero. When equipped with a lot of items, the Storm Spirit can be seen bouncing around the battlefield, zapping his foes and quickly jumping away. Raijin relies partly on his physical attack and partly on his spells to defeat his enemies. Static Remnant is his main source of spell damage. When cast, this ability leaves a staticky copy of the Storm Spirit behind. Similar to a landmine the image will explode on contact, shocking all nearby enemies. Electric Vortex is a very powerful disabling spell, which grabs a target enemy and drags them to the Storm Spirit. A common tactic is to use Electric Vortex to pull a target into a Static Remnant image. Overload completes this combo, giving the Storm Spirit's next attack a blast of electrical energy whenever he casts a spell. However, Raijin's signature ability is definitely Ball Lightning. This teleportation spell has no cooldown and no maximum range, which means Raijin can bounce about as much as he wants, as long as he has the mana and regeneration to support the high cost of the spell. Raijin behaves much like a storm, starting out weak early on, then gathering power over the course of the game until he becomes an unstoppable force of nature.
          li
            h4 BACKGROUND STORY
            p
              | A celestial being summoned to aid the Sentinel in their darkest hour; the Storm Spirit chose to manifest itself in the life essence of a humble elementalist, Raijin Thunderkeg. Though the Pandaren's soul perished during the profound surge of pure electrical essence, the divine entity even now seeks refuge in Raijin's body, unable to thrive on its own. However, despite its mortal imprisonment, the Storm Spirit is far from being limited of its tremendous powers. Able of manipulating vast, inexhaustible sources of energy in mysterious ways, it swiftly hails destructive sparks of lightning upon the Sentinel's adversaries, eradicating all that dared to cross its path.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Raijin/skill-0.png')
              img(src='images/Int/Sentinel/Raijin/skill-1.gif')
              img(src='images/Int/Sentinel/Raijin/skill-2.JPG')
              img(src='images/Int/Sentinel/Raijin/skill-3.png')
    section
      h2 Alleria - Windrunner
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/WindRunner/icon.JPG')
            .character
              img(src='images/Int/Sentinel/WindRunner/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.4 / 0.3
            p
              | Damage: 44 - 56
            p
              | Casting Animation: 0.3 / 0.5
            p
              | Armor: 1.38
            p
              | Base Attack Time: 1.5
            p
              | Movespeed: 295
            p
              | Missile Speed: 1250
            p
              | Attack Range: 600
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | Although she is an intelligence hero, she relies on her physical attack most of the time, and she has a powerful attack speed increasing ability which lets her fire very quickly. She can launch deadly Power Shots, which strike the first target with massive damage, then lose a little the more units they pass through. Power Shot is very good at picking off injured heroes who are trying to flee, due to its long range, fast projectile, and good initial damage. To stop enemies from fleeing in the first place, Alleria has Shackleshot. Although it doesn't deal any damage by itself, Shackleshot is one of the best single-target stuns around. This ability allows the Windrunner to shackle a target either to a tree or to another enemy unit, potentially stunning two heroes for a lengthy period of time. Windrunner, Alleria's third skill, allows her to escape dangerous situations, position herself for good Shackleshots, and catch up to fleeing enemies. If Powershot isn't enough to take down a target, Alleria can use Focus Fire. This powerful ability makes her attack at the fastest possible rate at a single enemy unit for a long duration, but reduces her total damage. This skill is often used in conjunction with Shackleshot, but it is also effective against buildings and other stationary targets.
          li
            h4 BACKGROUND STORY
            p
              | In the valleys of Winterspring, deep within the verdant glades of the Forest of Trees, an elf with the power of the wind makes her home. She joined the Sentinel as a free agent shortly after the War of the Magi. Favored by the Goddess of Wind, Alleria received many blessings. Her arrows fly straight and true, piercing all enemies in a line. She can lace her arrow with wind and bind enemies together by creating ethereal shackles. Her footsteps are hastened by the currents of air. It is known that she can dispatch enemies at blinding speed by releasing a flurry of arrows. She is indeed a worthy enemy of the Scourge.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/WindRunner/skill-0.JPG')
              img(src='images/Int/Sentinel/WindRunner/skill-1.jpg')
              img(src='images/Int/Sentinel/WindRunner/skill-2.JPG')
              img(src='images/Int/Sentinel/WindRunner/skill-3.JPG')
    section
      h2 Thrall - Disruptor
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Thrall/icon.gif')
            .character
              img(src='images/Int/Sentinel/Thrall/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.4 / 0.3
            p
              | Damage: 44 - 56
            p
              | Casting Animation: 0.3 / 0.5
            p
              | Armor: 1.38
            p
              | Base Attack Time: 1.5
            p
              | Movespeed: 295
            p
              | Missile Speed: 1250
            p
              | Attack Range: 600
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p Coming soon.
          li
            h4 BACKGROUND STORY
            p
              | Being raised by humans as a gladiator, Thrall learned more about strategy and tactics as a youth than even experienced orcish warchiefs learned in their lives. After escaping from the human slavery and meeting Grom Hellscream, he found out that he was a descendant of the Frostwolf clan. He traveled to his ancestor's village, where he became familiar with the spiritual magics of the orcish shamans. Now he combines not only his control over thunder, but also his tactical abilities to turn fights in his favor using impenetrable walls of magic, areas of static energy and even control over time.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Thrall/skill-0.gif')
              img(src='images/Int/Sentinel/Thrall/skill-1.gif')
              img(src='images/Int/Sentinel/Thrall/skill-2.gif')
              img(src='images/Int/Sentinel/Thrall/skill-3.gif')
    section
      h2 Aggron Stonebreak - Ogre Magi
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Ogre Magi/icon.JPG')
            .character
              img(src='images/Int/Sentinel/Ogre Magi/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.3 / 0.3
            p
              | Damage: 58 - 64
            p
              | Casting Animation: 0.45 / 0.51
            p
              | Armor: 6.96
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 295
            p
              | Missile Speed: Instant
            p
              | Attack Range: 128(melee)
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | One of only two melee intelligence heroes, on the surface the Ogre Magi appears to be a regular offensive spellcaster with limited buffing capabilities. However, the true power of this hero is revealed when his passive Multi Cast skill comes into play. Similar to a passive critical strike, Multi Cast allows the Ogre Magi's spells to hit multiple times. His Fireblast spell is a decent but unremarkable spell on its own, but a multicast Fireblast is capable of dealing huge damage and stunning a target for a long time. Bloodlust provides a great speed bonus to a single target, and a multi cast Bloodlust gives that same bonus to the Ogre's entire team. Ignite is a fairly weak single target slow without Multi Cast, but gains a large area of effect with more levels of Multi Cast. Although he is not very threatening without it, the Ogre Magi becomes quite deadly once he starts throwing Multi Casts around.
          li
            h4 BACKGROUND STORY
            p
              | Ogres, a race bred to be warriors, have no experience with the arcane arts, leaving Aggron, who was born with a rare affinity to magic, without guidance regarding his innate abilities. His own force of will harnesses his talent to produce elemental flames and explosions that consume his opponents. Being a natural warrior, he reaches into his own aggression to fuel his comrades' lust for battle. His savage, untapped magical potential is prone to fiery outbursts which enhance the potency of his spells. A towering force built on strength and magic, Aggron is honored by his people and feared by his enemies
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Ogre Magi/skill-0.JPG')
              img(src='images/Int/Sentinel/Ogre Magi/skill-1.JPG')
              img(src='images/Int/Sentinel/Ogre Magi/skill-2.JPG')
              img(src='images/Int/Sentinel/Ogre Magi/skill-3.jpg')
    section
      h2 Squee Spleen and Spoon - Goblin Techies
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Goblin Techies/icon.JPG')
            .character
              img(src='images/Int/Sentinel/Goblin Techies/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.5 / 0.5
            p
              | Damage: 29 - 31
            p
              | Casting Animation: 0 / 0.51
            p
              | Armor: 6.96
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 270
            p
              | Missile Speed: 900
            p
              | Attack Range: 700
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | This team of tiny Goblins provide the oddest gameplay style of any hero. Relying almost entirely on hidden traps and mines, the Goblin Techies rely on planning and strategy to defeat their enemies. Land Mines, Stasis Traps, and Remotes Mines all must be placed ahead of time to be used effectively. Nearly useless in combat, the Goblin Techies sole offensive ability is suicidally exploding with the hope of taking an enemy with them. However, attacking a base defended by the Techies is extremely difficult, due to the inevitable myriad of invisible traps scattered across the battlefield. Some method for detecting invisibility is a must for outwitting these sly Goblins.
          li
            h4 BACKGROUND STORY
            p
              | Devilishly clever, the goblin techies, despite their small physical presence, are a force to be reckoned with. In line with their goblin brethren, the techies have the skill of laying mines in the earth, invisible to the naked eye. Also, after extensive training with the Orcish voodoo priests of Kalimdor, the Techies are adept at laying paralysis-inducing traps along with their potent explosives. Wary be the foe who takes these three lightly.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Goblin Techies/skill-0.JPG')
              img(src='images/Int/Sentinel/Goblin Techies/skill-1.JPG')
              img(src='images/Int/Sentinel/Goblin Techies/skill-2.JPG')
              img(src='images/Int/Sentinel/Goblin Techies/skill-3.JPG')
              img(src='images/Int/Sentinel/Goblin Techies/skill-5.jpg')
    section
      h2 Jakiro - Twin Head Dragon
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Jakiro/icon.JPG')
            .character
              img(src='images/Int/Sentinel/Jakiro/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.4 / 0.5
            p
              | Damage: 46 - 54
            p
              | Casting Animation: 0.65 / 0.3
            p
              | Armor: 2.4
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 290
            p
              | Missile Speed: 1100
            p
              | Attack Range: 400
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | One place you don't want to be when fighting this beast is in front of him. He has three spells which target an area of effect in front of him, and getting caught in his barrage can cause a lot of pain. Dual Breath is his primary ability, burning and freezing all enemies in a large cone in front of him. In addition to the slow from Dual Breath, he can also completely disable multiple enemies with Ice Path. With two movement disable spells, Jakiro is a good supporter for his allies. Liquid Fire makes him effective at reducing the effectiveness of enemy physical attack heroes, as well as making towers easier to attack by slowing their retaliation. Macropyre can do a lot of damage if the enemy stays in its path, but it is often more effective as a deterrent rather than a source of damage. Couple with a well-timed Ice Path it can cause significant burning damage, however. Due to his naturally high life and mana, Jakiro doesn't need many items to be effective. This makes him great at supporting heroes who need to get a lot of gold.
          li
            h4 BACKGROUND STORY
            p
              | Originally found gnawing at the roots of the World Tree during an excavation, this magnificent Chimaera's age is impossible to determine. With his large snapping heads and aggressive, unpredictable behavior, Jakiro is an intimidating creature to say the least, yet is loyal to the Sentinel for reasons all his own. Due to his mystical nature, he has a strange affinity with the elemental forces of ice and fire. This allows him to devastate all in his path, and he is more than capable of keeping his opponents in his line of fury. The Scourge would do best to be wary of this dragon, lest they all freeze and shatter as their precious Frozen Throne melts before their eyes.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Jakiro/skill-0.jpg')
              img(src='images/Int/Sentinel/Jakiro/skill-1.JPG')
              img(src='images/Int/Sentinel/Jakiro/skill-2.JPG')
              img(src='images/Int/Sentinel/Jakiro/skill-3.JPG')
    section
      h2 Boush - Tinker
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Tinker/icon.jpg')
            .character
              img(src='images/Int/Sentinel/Tinker/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.3 / 0.65
            p
              | Damage: 49 - 55
            p
              | Casting Animation: 0.53 / 0.5
            p
              | Armor: 3.82
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 305
            p
              | Missile Speed: 900
            p
              | Attack Range: 500
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | In the early stages of a game, the Tinker appears to be a straightforward offensive spellcasting hero, with two exceptionally dangerous single target abilities and a large area of effect one. Laser deals extremely high damage to one enemy and temporarily blinds them, making it very deadly against fragile spellcasters and agility heroes who rely on their physical attacks. Heat Seeking Missile also does a lot of damage, and since it tracks and has very long range it's especially good at finishing off injured heroes. March of the Machines is a little difficult to use, but can cause a lot of hurt if placed correctly. This spell is also great for getting gold from creep kills. However, the Tinker's true power lies in the Rearm skill. With enough mana, the Tinker can launch a constant barrage of spells on his enemies. In addition, Rearm also refreshes the cooldown of most inventory items, making high priced equipment with active abilities far more effective for the Tinker than other heroes.
          li
            h4 BACKGROUND STORY
            p
              | Goblin engineering was always innovative, but Boush brought it to such extreme that most refuse to believe that his powers lie in machine and rather think that he fights with magic. He can shoot focused light and homing projectiles as powerful and as flashy as most destructive Elven Arcane spells. It is said that not even the best Necromancers can raise armies comparable to seemingly endless amount of clockwork goblins that Boush can easily summon. And while some refuse to believe in his machinery skills and other call him the master artist of engineering, none can deny the destructive force of this goblin.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Tinker/skill-0.jpg')
              img(src='images/Int/Sentinel/Tinker/skill-1.jpg')
              img(src='images/Int/Sentinel/Tinker/skill-2.jpg')
              img(src='images/Int/Sentinel/Tinker/skill-3.jpg')
    section
      h2 Rhasta - Shadow Shaman
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Rhasta/icon.jpg')
            .character
              img(src='images/Int/Sentinel/Rhasta/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.3 / 0.5
            p
              | Damage: 47 - 54
            p
              | Casting Animation: 0.3 / 1.07
            p
              | Armor: 1.24
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 285
            p
              | Missile Speed: 900
            p
              | Attack Range: 500
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | Rhasta is one of best heroes for disabling enemies, with two strong spells of this type. However, he is a fragile hero who tends to get focused in battle. Teamwork and communication are essential if the Shadow Shaman is to make full use of his potent spell arsenal. Forked Lightning is a useful ability, good for harassing foes, killing creeps, and finishing off wounded enemies who escape Rhasta's snares. Voodoo is a straightforward polymorph skill, transforming the target into a critter and knocking them out of the fight for a few seconds. Shackles is an interesting ability which disables both the target and Rhasta while he channels the spell. However, this is not much of a disadvantage to Rhasta, since his Mass Serpent Ward ability gives him a deadly source of alternate damage to destroy his target while he holds them in place. The wards are a powerful sieging tool as well, able to level buildings very quickly. Since towers can only attack one ward at a time, they stand little chance against this skill.
          li
            h4 BACKGROUND STORY
            p
              | Once a gifted troll witch doctor, young Rhasta was well versed with the secrets of voodoo magic. When the war between the Sentinel and the Scourge began, Rhasta, then a Shadow Hunter, offered his allegiance to the Sentinels to vanquish the Scourge once and for all. While he was gifted as a witch doctor, Rhasta is a genius as a shadow hunter, exceeding his master by mastering the art of summoning multiple serpent wards, binding enemies for a short time and casting elemental lightning to several units.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Rhasta/skill-0.gif')
              img(src='images/Int/Sentinel/Rhasta/skill-1.jpg')
              img(src='images/Int/Sentinel/Rhasta/skill-2.jpg')
              img(src='images/Int/Sentinel/Rhasta/skill-3.jpg')
    section
      h2 Rubick - Grand Magnus
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Rubick/icon.jpg')
            .character
              img(src='images/Int/Sentinel/Rubick/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.4 / 0.77
            p
              | Damage: 44 - 54
            p
              | Casting Animation: 0.1 / 1.17
            p
              | Armor: 0.96
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 290
            p
              | Missile Speed: 1125
            p
              | Attack Range: 600
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p
              | Despite an inability to use his fathers sceptre, Rubick's magical talents are nothing to be mocked. Early game, telekinesis and the damage reduction from fade bolt, can save an ally from almost certain death, and against other users of the arcane arts, rubick's passive, null field, grants an aura which increases the magic resistance of his allies. Post level 6, Rubick's ultimate, lets him steal any spell an enemy uses, allowing quick-fingered players the ability to steal game changing abilities from enemies, which can turn a team fight around, half the time, with the enemies mistaking the stolen spell for their ally./p>
          li
            h4 BACKGROUND STORY
            p
              | Rubick, the son of Aghanim, is a force to be reckoned with. Crowds marvel in wonder at his effortless ability to hurl objects through the air, using nothing but his mind. Many wizards have challenged him yet none have surpassed his powerful and debilitating magics. The Grand Magus, with his endless talent, will stop at nothing to bewilder and outsmart his enemies, even if it means turning their own magic against them. Renowned for his unique ability to steal magics with a mere thought, he is undeniably a favorable asset to the Sentinel in their fight against the Scourge.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Rubick/skill-0.jpg')
              img(src='images/Int/Sentinel/Rubick/skill-1.jpg')
              img(src='images/Int/Sentinel/Rubick/skill-2.jpg')
              img(src='images/Int/Sentinel/Rubick/skill-3.jpg')
              img(src='images/Int/Sentinel/Rubick/skill-4.jpg')
    section
      h2 Dragonus - Skywrath Mage
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Dragonus/icon.jpg')
            .character
              img(src='images/Int/Sentinel/Dragonus/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.4 / 0.78
            p
              | Damage: 39 - 49
            p
              | Casting Animation: 0.1 / 1.08
            p
              | Armor: 0.52
            p
              | Base Attack Time: 1.7
            p
              | Movespeed: 325
            p
              | Missile Speed: 1000
            p
              | Attack Range: 600
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p Coming soon.
          li
            h4 BACKGROUND STORY
            p
              | Dragonus is a sky-bound sorcerer astute in the arts of arcane warfare. Mystical in nature and veiled in secret motives he joined the sentinel to battle the scourge. He is said to come from the ancient bloodline of blood elves that has ascended to unknown heights in the arts of mystical magic. It's suspected that Invoker and Dragonus were prodigy's of ancient time and were fighting for the prestige title of the supreme mage. The art of his supreme knowledge of magic enables him to seal any magic and his Mystic Flare is capable of burning any foe in matter of seconds. Many allies are proud to have strode alongside this mythical being, but few enemies have lived to survive the full extent of his mystical arsenal.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Dragonus/skill-0.jpg')
              img(src='images/Int/Sentinel/Dragonus/skill-1.jpg')
              img(src='images/Int/Sentinel/Dragonus/skill-2.jpg')
              img(src='images/Int/Sentinel/Dragonus/skill-3.jpg')
    section
      h2 Oracle - Nerif
      ul
        .kiri
          li
            img.icon(align='left', src='images/Int/Sentinel/Oracle/icon.gif')
            .character
              img(src='images/Int/Sentinel/Oracle/character.gif')
            h3 ADVANCED STATISTIC
            p
              | Affiliation: Sentinel
            p
              | Attack Animation: 0.3 / 0.7
            p
              | Damage: 45 - 51
            p
              | Casting Animation: 0.3 / 0.83
            p
              | Armor: 2.1
            p
              | Base Attack Time: 1.4
            p
              | Movespeed: 305
            p
              | Missile Speed: 900
            p
              | Attack Range: 620
            p Sight Range: 1800 / 800
        .kanan
          li
            h3 HERO INTRODUCTION
            p Coming soon.
          li
            h4 BACKGROUND STORY
            p
              | Few have the knack for plucking the strings of fate, let alone seeing them for what they are. Fate is as mysterious as it is fickle, but for Nerif it has always been a burden. Those chosen must answer the call, and since boyhood he has been raised into the hallowed role of Oracle, proclaiming destiny's path to those worthy to hear of it. Though many of his ilk have chosen more peaceful routes to serving fate, he never felt that the future must be passively proclaimed. With the view of fate before him, his powers were suited by nudging and pulling threads and, where needed, severing them to better the life of all. It was inevitable that his abilities would culminate in deadly battle - he knew would come to pass, and he is ready to cut lives short to lengthen others.
          li
            .skill
              h4 Skills
              img(src='images/Int/Sentinel/Oracle/skill-0.jpg')
              img(src='images/Int/Sentinel/Oracle/skill-1.jpg')
              img(src='images/Int/Sentinel/Oracle/skill-2.jpg')
              img(src='images/Int/Sentinel/Oracle/skill-3.jpg')

include presentation-footer
include main-footer
