- var pageTitle = 'Dota | Home'

include presentation-header

include presentation-header (Item)

include menu

div(style='clear:both;')
    #website.website(align='center')
      div(style='clear:both;')
      .content
        .site(align='left')
          center
            img(src='DotA Items and Recipes_files/vault.jpg')
          .ileft(align='left')
            script(type='text/javascript', src='DotA Items and Recipes_files/items.js')
            .cat
              img(src='DotA Items and Recipes_files/c1.gif')
              ul
                li
                  a#it769(href='#', onclick='return showItem(769, 1, this);', onmouseover='return showItem(769, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb.jpg', border='0')
                li
                  a#it770(href='#', onclick='return showItem(770, 1, this);', onmouseover='return showItem(770, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(1).jpg', border='0')
                li
                  a#it108(href='#', onclick='return showItem(108, 1, this);', onmouseover='return showItem(108, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(2).jpg', border='0')
                li
                  a#it109(href='#', onclick='return showItem(109, 1, this);', onmouseover='return showItem(109, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(3).jpg', border='0')
                li
                  a#it110(href='#', onclick='return showItem(110, 1, this);', onmouseover='return showItem(110, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(4).jpg', border='0')
                li
                  a#it111(href='#', onclick='return showItem(111, 1, this);', onmouseover='return showItem(111, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(5).jpg', border='0')
                li
                  a#it772(href='#', onclick='return showItem(772, 1, this);', onmouseover='return showItem(772, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(6).jpg', border='0')
                li
                  a#it771(href='#', onclick='return showItem(771, 1, this);', onmouseover='return showItem(771, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(7).jpg', border='0')
                li
                  a#it114(href='#', onclick='return showItem(114, 1, this);', onmouseover='return showItem(114, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(8).jpg', border='0')
                li
                  a#it115(href='#', onclick='return showItem(115, 1, this);', onmouseover='return showItem(115, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(9).jpg', border='0')
                li
                  a#it116(href='#', onclick='return showItem(116, 1, this);', onmouseover='return showItem(116, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(10).jpg', border='0')
                li
                  a#it74(href='#', onclick='return showItem(74, 1, this);', onmouseover='return showItem(74, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(11).jpg', border='0')
            .cat
              img(src='DotA Items and Recipes_files/c2.gif')
              ul
                li
                  a#it99(href='#', onclick='return showItem(99, 1, this);', onmouseover='return showItem(99, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(12).jpg', border='0')
                li
                  a#it100(href='#', onclick='return showItem(100, 1, this);', onmouseover='return showItem(100, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(13).jpg', border='0')
                li
                  a#it101(href='#', onclick='return showItem(101, 1, this);', onmouseover='return showItem(101, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(14).jpg', border='0')
                li
                  a#it102(href='#', onclick='return showItem(102, 1, this);', onmouseover='return showItem(102, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(15).jpg', border='0')
                li
                  a#it103(href='#', onclick='return showItem(103, 1, this);', onmouseover='return showItem(103, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(16).jpg', border='0')
                li
                  a#it104(href='#', onclick='return showItem(104, 1, this);', onmouseover='return showItem(104, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(17).jpg', border='0')
                li
                  a#it106(href='#', onclick='return showItem(106, 1, this);', onmouseover='return showItem(106, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(18).jpg', border='0')
                li
                  a#it107(href='#', onclick='return showItem(107, 1, this);', onmouseover='return showItem(107, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(19).jpg', border='0')
                li
                  a#it768(href='#', onclick='return showItem(768, 1, this);', onmouseover='return showItem(768, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(20).jpg', border='0')
                li
                  a#it778(href='#', onclick='return showItem(778, 1, this);', onmouseover='return showItem(778, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(21).jpg', border='0')
                li
                  img(src='DotA Items and Recipes_files/thumb.gif', border='0')
                li
                  img(src='DotA Items and Recipes_files/thumb.gif', border='0')
            .cat
              img(src='DotA Items and Recipes_files/c3.gif')
              ul
                li
                  a#it121(href='#', onclick='return showItem(121, 1, this);', onmouseover='return showItem(121, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(22).jpg', border='0')
                li
                  a#it122(href='#', onclick='return showItem(122, 1, this);', onmouseover='return showItem(122, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(23).jpg', border='0')
                li
                  a#it763(href='#', onclick='return showItem(763, 1, this);', onmouseover='return showItem(763, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(24).jpg', border='0')
                li
                  a#it780(href='#', onclick='return showItem(780, 1, this);', onmouseover='return showItem(780, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(25).jpg', border='0')
                li
                  a#it118(href='#', onclick='return showItem(118, 1, this);', onmouseover='return showItem(118, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(26).jpg', border='0')
                li
                  a#it119(href='#', onclick='return showItem(119, 1, this);', onmouseover='return showItem(119, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(27).jpg', border='0')
                li
                  a#it120(href='#', onclick='return showItem(120, 1, this);', onmouseover='return showItem(120, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(28).jpg', border='0')
                li
                  a#it755(href='#', onclick='return showItem(755, 1, this);', onmouseover='return showItem(755, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(29).jpg', border='0')
                li
                  a#it117(href='#', onclick='return showItem(117, 1, this);', onmouseover='return showItem(117, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(30).jpg', border='0')
                li
                  a#it766(href='#', onclick='return showItem(766, 1, this);', onmouseover='return showItem(766, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(31).jpg', border='0')
                li
                  a#it765(href='#', onclick='return showItem(765, 1, this);', onmouseover='return showItem(765, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(32).jpg', border='0')
                li
                  a#it779(href='#', onclick='return showItem(779, 1, this);', onmouseover='return showItem(779, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(33).jpg', border='0')
            div(style='clear:both;')
            .cat
              img(src='DotA Items and Recipes_files/c4.gif')
              ul
                li
                  a#it776(href='#', onclick='return showItem(776, 1, this);', onmouseover='return showItem(776, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(34).jpg', border='0')
                li
                  a#it68(href='#', onclick='return showItem(68, 1, this);', onmouseover='return showItem(68, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(35).jpg', border='0')
                li
                  a#it69(href='#', onclick='return showItem(69, 1, this);', onmouseover='return showItem(69, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(36).jpg', border='0')
                li
                  a#it125(href='#', onclick='return showItem(125, 1, this);', onmouseover='return showItem(125, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(37).jpg', border='0')
                li
                  a#it71(href='#', onclick='return showItem(71, 1, this);', onmouseover='return showItem(71, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(38).jpg', border='0')
                li
                  a#it72(href='#', onclick='return showItem(72, 1, this);', onmouseover='return showItem(72, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(39).jpg', border='0')
                li
                  a#it73(href='#', onclick='return showItem(73, 1, this);', onmouseover='return showItem(73, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(40).jpg', border='0')
                li
                  a#it777(href='#', onclick='return showItem(777, 1, this);', onmouseover='return showItem(777, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(41).jpg', border='0')
                li
                  a#it75(href='#', onclick='return showItem(75, 1, this);', onmouseover='return showItem(75, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(42).jpg', border='0')
                li
                  a#it76(href='#', onclick='return showItem(76, 1, this);', onmouseover='return showItem(76, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(43).jpg', border='0')
                li
                  a#it77(href='#', onclick='return showItem(77, 1, this);', onmouseover='return showItem(77, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(44).jpg', border='0')
                li
                  a#it756(href='#', onclick='return showItem(756, 1, this);', onmouseover='return showItem(756, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(45).jpg', border='0')
            .cat
              img(src='DotA Items and Recipes_files/c5.gif')
              ul
                li
                  a#it775(href='#', onclick='return showItem(775, 1, this);', onmouseover='return showItem(775, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(46).jpg', border='0')
                li
                  a#it83(href='#', onclick='return showItem(83, 1, this);', onmouseover='return showItem(83, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(47).jpg', border='0')
                li
                  a#it86(href='#', onclick='return showItem(86, 1, this);', onmouseover='return showItem(86, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(48).jpg', border='0')
                li
                  a#it88(href='#', onclick='return showItem(88, 1, this);', onmouseover='return showItem(88, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(49).jpg', border='0')
                li
                  a#it79(href='#', onclick='return showItem(79, 1, this);', onmouseover='return showItem(79, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(50).jpg', border='0')
                li
                  a#it82(href='#', onclick='return showItem(82, 1, this);', onmouseover='return showItem(82, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(51).jpg', border='0')
                li
                  a#it85(href='#', onclick='return showItem(85, 1, this);', onmouseover='return showItem(85, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(52).jpg', border='0')
                li.on
                  a#it87(href='#', onclick='return showItem(87, 1, this);', onmouseover='return showItem(87, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(53).jpg', border='0')
                li
                  a#it774(href='#', onclick='return showItem(774, 1, this);', onmouseover='return showItem(774, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(54).jpg', border='0')
                li
                  a#it81(href='#', onclick='return showItem(81, 1, this);', onmouseover='return showItem(81, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(55).jpg', border='0')
                li
                  a#it84(href='#', onclick='return showItem(84, 1, this);', onmouseover='return showItem(84, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(56).jpg', border='0')
                li
                  a#it781(href='#', onclick='return showItem(781, 1, this);', onmouseover='return showItem(781, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(57).jpg', border='0')
            .cat
              img(src='DotA Items and Recipes_files/c6.gif')
              ul
                li
                  a#it92(href='#', onclick='return showItem(92, 1, this);', onmouseover='return showItem(92, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(58).jpg', border='0')
                li
                  a#it91(href='#', onclick='return showItem(91, 1, this);', onmouseover='return showItem(91, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(59).jpg', border='0')
                li
                  a#it66(href='#', onclick='return showItem(66, 1, this);', onmouseover='return showItem(66, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(60).jpg', border='0')
                li
                  a#it762(href='#', onclick='return showItem(762, 1, this);', onmouseover='return showItem(762, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(61).jpg', border='0')
                li
                  a#it95(href='#', onclick='return showItem(95, 1, this);', onmouseover='return showItem(95, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(62).jpg', border='0')
                li
                  a#it90(href='#', onclick='return showItem(90, 1, this);', onmouseover='return showItem(90, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(63).jpg', border='0')
                li
                  a#it89(href='#', onclick='return showItem(89, 1, this);', onmouseover='return showItem(89, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(64).jpg', border='0')
                li
                  a#it93(href='#', onclick='return showItem(93, 1, this);', onmouseover='return showItem(93, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(65).jpg', border='0')
                li
                  a#it97(href='#', onclick='return showItem(97, 1, this);', onmouseover='return showItem(97, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(66).jpg', border='0')
                li
                  a#it98(href='#', onclick='return showItem(98, 1, this);', onmouseover='return showItem(98, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(67).jpg', border='0')
                li
                  a#it96(href='#', onclick='return showItem(96, 1, this);', onmouseover='return showItem(96, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(68).jpg', border='0')
                li
                  a#it94(href='#', onclick='return showItem(94, 1, this);', onmouseover='return showItem(94, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(69).jpg', border='0')
            div(style='clear:both;')
            .cat
              img(src='DotA Items and Recipes_files/c7.gif')
              ul
                li
                  a#it10(href='#', onclick='return showItem(10, 1, this);', onmouseover='return showItem(10, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(70).jpg', border='0')
                li
                  a#it12(href='#', onclick='return showItem(12, 1, this);', onmouseover='return showItem(12, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(71).jpg', border='0')
                li
                  a#it13(href='#', onclick='return showItem(13, 1, this);', onmouseover='return showItem(13, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(72).jpg', border='0')
                li
                  a#it14(href='#', onclick='return showItem(14, 1, this);', onmouseover='return showItem(14, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(73).jpg', border='0')
                li
                  a#it15(href='#', onclick='return showItem(15, 1, this);', onmouseover='return showItem(15, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(74).jpg', border='0')
                li
                  a#it16(href='#', onclick='return showItem(16, 1, this);', onmouseover='return showItem(16, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(75).jpg', border='0')
                li
                  a#it17(href='#', onclick='return showItem(17, 1, this);', onmouseover='return showItem(17, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(76).jpg', border='0')
                li
                  a#it18(href='#', onclick='return showItem(18, 1, this);', onmouseover='return showItem(18, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(77).jpg', border='0')
                li
                  a#it19(href='#', onclick='return showItem(19, 1, this);', onmouseover='return showItem(19, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(78).jpg', border='0')
                li
                  a#it20(href='#', onclick='return showItem(20, 1, this);', onmouseover='return showItem(20, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(79).jpg', border='0')
                li
                  a#it21(href='#', onclick='return showItem(21, 1, this);', onmouseover='return showItem(21, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(80).jpg', border='0')
                li
                  a#it783(href='#', onclick='return showItem(783, 1, this);', onmouseover='return showItem(783, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(81).gif', border='0')
            .cat
              img(src='DotA Items and Recipes_files/c8.gif')
              ul
                li
                  a#it22(href='#', onclick='return showItem(22, 1, this);', onmouseover='return showItem(22, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(82).jpg', border='0')
                li
                  a#it23(href='#', onclick='return showItem(23, 1, this);', onmouseover='return showItem(23, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(83).jpg', border='0')
                li
                  a#it24(href='#', onclick='return showItem(24, 1, this);', onmouseover='return showItem(24, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(84).jpg', border='0')
                li
                  a#it25(href='#', onclick='return showItem(25, 1, this);', onmouseover='return showItem(25, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(85).jpg', border='0')
                li
                  a#it26(href='#', onclick='return showItem(26, 1, this);', onmouseover='return showItem(26, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(86).jpg', border='0')
                li
                  a#it27(href='#', onclick='return showItem(27, 1, this);', onmouseover='return showItem(27, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(87).jpg', border='0')
                li
                  a#it28(href='#', onclick='return showItem(28, 1, this);', onmouseover='return showItem(28, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(88).jpg', border='0')
                li
                  a#it29(href='#', onclick='return showItem(29, 1, this);', onmouseover='return showItem(29, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(89).jpg', border='0')
                li
                  a#it30(href='#', onclick='return showItem(30, 1, this);', onmouseover='return showItem(30, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(90).jpg', border='0')
                li
                  a#it767(href='#', onclick='return showItem(767, 1, this);', onmouseover='return showItem(767, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(91).jpg', border='0')
                li
                  img(src='DotA Items and Recipes_files/thumb.gif', border='0')
                li
                  a#it124(href='#', onclick='return showItem(124, 1, this);', onmouseover='return showItem(124, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(92).jpg', border='0')
            .cat
              img(src='DotA Items and Recipes_files/c9.gif')
              ul
                li
                  a#it31(href='#', onclick='return showItem(31, 1, this);', onmouseover='return showItem(31, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(93).jpg', border='0')
                li
                  a#it33(href='#', onclick='return showItem(33, 1, this);', onmouseover='return showItem(33, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(94).jpg', border='0')
                li
                  a#it32(href='#', onclick='return showItem(32, 1, this);', onmouseover='return showItem(32, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(95).jpg', border='0')
                li
                  a#it34(href='#', onclick='return showItem(34, 1, this);', onmouseover='return showItem(34, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(96).jpg', border='0')
                li
                  a#it35(href='#', onclick='return showItem(35, 1, this);', onmouseover='return showItem(35, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(97).jpg', border='0')
                li
                  a#it37(href='#', onclick='return showItem(37, 1, this);', onmouseover='return showItem(37, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(98).jpg', border='0')
                li
                  a#it36(href='#', onclick='return showItem(36, 1, this);', onmouseover='return showItem(36, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(99).jpg', border='0')
                li
                  a#it38(href='#', onclick='return showItem(38, 1, this);', onmouseover='return showItem(38, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(100).jpg', border='0')
                li
                  a#it39(href='#', onclick='return showItem(39, 1, this);', onmouseover='return showItem(39, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(101).jpg', border='0')
                li
                  a#it41(href='#', onclick='return showItem(41, 1, this);', onmouseover='return showItem(41, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(102).jpg', border='0')
                li
                  a#it40(href='#', onclick='return showItem(40, 1, this);', onmouseover='return showItem(40, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(103).jpg', border='0')
                li
                  a#it42(href='#', onclick='return showItem(42, 1, this);', onmouseover='return showItem(42, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(104).jpg', border='0')
            div(style='clear:both;')
            .cat
              img(src='DotA Items and Recipes_files/c10.gif')
              ul
                li
                  a#it43(href='#', onclick='return showItem(43, 1, this);', onmouseover='return showItem(43, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(105).jpg', border='0')
                li
                  a#it44(href='#', onclick='return showItem(44, 1, this);', onmouseover='return showItem(44, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(106).jpg', border='0')
                li
                  a#it45(href='#', onclick='return showItem(45, 1, this);', onmouseover='return showItem(45, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(107).jpg', border='0')
                li
                  a#it46(href='#', onclick='return showItem(46, 1, this);', onmouseover='return showItem(46, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(108).jpg', border='0')
                li
                  a#it47(href='#', onclick='return showItem(47, 1, this);', onmouseover='return showItem(47, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(109).jpg', border='0')
                li
                  a#it48(href='#', onclick='return showItem(48, 1, this);', onmouseover='return showItem(48, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(110).jpg', border='0')
                li
                  a#it49(href='#', onclick='return showItem(49, 1, this);', onmouseover='return showItem(49, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(111).jpg', border='0')
                li
                  a#it50(href='#', onclick='return showItem(50, 1, this);', onmouseover='return showItem(50, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(112).jpg', border='0')
                li
                  a#it51(href='#', onclick='return showItem(51, 1, this);', onmouseover='return showItem(51, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(113).jpg', border='0')
                li
                  a#it52(href='#', onclick='return showItem(52, 1, this);', onmouseover='return showItem(52, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(114).jpg', border='0')
                li
                  a#it53(href='#', onclick='return showItem(53, 1, this);', onmouseover='return showItem(53, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(115).jpg', border='0')
                li
                  a#it773(href='#', onclick='return showItem(773, 1, this);', onmouseover='return showItem(773, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(116).jpg', border='0')

            .cat
              img(src='DotA Items and Recipes_files/c11.gif')
              ul
                li
                  a#it55(href='#', onclick='return showItem(55, 1, this);', onmouseover='return showItem(55, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(117).jpg', border='0')
                li
                  a#it56(href='#', onclick='return showItem(56, 1, this);', onmouseover='return showItem(56, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(118).jpg', border='0')
                li
                  a#it57(href='#', onclick='return showItem(57, 1, this);', onmouseover='return showItem(57, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(119).jpg', border='0')
                li
                  a#it58(href='#', onclick='return showItem(58, 1, this);', onmouseover='return showItem(58, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(120).jpg', border='0')
                li
                  a#it59(href='#', onclick='return showItem(59, 1, this);', onmouseover='return showItem(59, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(121).jpg', border='0')
                li
                  a#it60(href='#', onclick='return showItem(60, 1, this);', onmouseover='return showItem(60, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(122).jpg', border='0')
                li
                  a#it61(href='#', onclick='return showItem(61, 1, this);', onmouseover='return showItem(61, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(123).jpg', border='0')
                li
                  a#it62(href='#', onclick='return showItem(62, 1, this);', onmouseover='return showItem(62, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(124).jpg', border='0')
                li
                  a#it63(href='#', onclick='return showItem(63, 1, this);', onmouseover='return showItem(63, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(125).jpg', border='0')
                li
                  a#it64(href='#', onclick='return showItem(64, 1, this);', onmouseover='return showItem(64, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(126).jpg', border='0')
                li
                  a#it65(href='#', onclick='return showItem(65, 1, this);', onmouseover='return showItem(65, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(127).jpg', border='0')
                li
                  a#it764(href='#', onclick='return showItem(764, 1, this);', onmouseover='return showItem(764, 0, this);')
                    img(src='DotA Items and Recipes_files/thumb(128).jpg', border='0')
          .iright(align='center')
            #iright(style='')
              img(src='DotA Items and Recipes_files/isummary.jpg')
              img#iIcon(align='left', src='DotA Items and Recipes_files/icon.jpg', style='display: inline;')
              .headitem(align='center')
                img#iName(src='DotA Items and Recipes_files/text.gif', style='display: block;')
                img(src='DotA Items and Recipes_files/coin.jpg', align='absmiddle')
                span#iPrice 4100
              div(style='clear:both;')
              br
              span.or Bought From:
              br
              span#iShop.bl Enchanted Artifacts
              br
              br
              span#iDesc.gr A wicked weapon, used in torturing political criminals. It hungers for blood.
              #iBonus.bonus(align='left')
                | +60 damage
                br
                | Corruption (passive)
                br
              #related.recipe(align='left')
                a(href='#', onclick='return showItem(50, 2, this);')
                  img(src='DotA Items and Recipes_files/thumb(129).jpg', align='middle')
                | 2 X Mithril Hammer 
                span (1600)
                br
                a(href='#', onclick='return showItem(87, 2, this);')
                  img(src='DotA Items and Recipes_files/thumb(130).jpg', align='middle')
                | Stygian Desolator 
                span (900)
                br
              #relatedin.usedin(align='left', style='display: none;')
              #iInfo.addinfo(align='left')
                p
                  span(style='color: white; font-size: small') Corruption
                  br
                  img(src='DotA Items and Recipes_files/Button.jpg')
                  |  Causes attacks to place a buff that reduces armor by 7
                  br
                  img(src='DotA Items and Recipes_files/Button.jpg', alt='')
                  |  Buff lasts 15 seconds
                  br
                  img(src='DotA Items and Recipes_files/Button.jpg', alt='')
                  |  Works on buildings
                  br
                  img(src='DotA Items and Recipes_files/Button.jpg', alt='')
                  |  Orb effect and buff placer
                br
              br
              center
                a#palink(href='/stygian-desolator') (Permanent link)
            br
            #edit
          script(type='text/javascript').
            showItem(769, 0, "this");
          br
          div(style='clear:both;')
        div(style='clear:both;')
        br
        .end
      .footer
        ul
          li
            a(href='http://www.playdota.com/heroes', title='DotA Heroes')
              img(src='DotA Items and Recipes_files/heroes(1).png', border='0', alt='DotA Heroes')
          li
            a(href='DotA Items and Recipes_files/DotA Items and Recipes.html', title='DotA Items')
              img(src='DotA Items and Recipes_files/items(1).png', border='0', alt='DotA Items')
          li
            a(href='http://www.playdota.com/guides', title='DotA Guides')
              img(src='DotA Items and Recipes_files/guides(1).png', border='0', alt='DotA Guides')
          li
            a(href='http://www.playdota.com/mechanics', title='DotA Mechanics')
              img(src='DotA Items and Recipes_files/mechanics(1).png', border='0', alt='DotA Mechanics')
          li
            a(href='http://www.playdota.com/forums/dota-tools-ai-maps/', title='DotA Tools')
              img(src='DotA Items and Recipes_files/tools(1).png', border='0', alt='DotA Tools')
          li
            a(href='http://www.playdota.com/forums/', title='DotA Community')
              img(src='DotA Items and Recipes_files/forums(1).png', border='0', alt='DotA Community')
          li.sh(onclick="location.href='/';")  
          li
            a(href='http://www.playdota.com/forums/dota-replays/', title='DotA Replays')
              img(src='DotA Items and Recipes_files/replays(1).png', border='0', alt='DotA Replays')
          li
            a(href='http://www.playdota.com/videos', title='DotA Videos')
              img(src='DotA Items and Recipes_files/videos(1).png', border='0', alt='DotA Videos')
          li
            a(href='http://www.playdota.com/fanart', title='DotA FanArt')
              img(src='DotA Items and Recipes_files/fanart.png', border='0', alt='DotA FanArt')
          li
            a(href='http://www.playdota.com/comics', title='DotA Comics')
              img(src='DotA Items and Recipes_files/comics(1).png', border='0', alt='DotA Comics')
          li
            a(href='http://www.playdota.com/ai', title='DotA Links')
              img(src='DotA Items and Recipes_files/links(1).png', border='0', alt='DotA Links')
          li
            a(href='http://www.playdota.com/about', title='About DotA')
              img(src='DotA Items and Recipes_files/about(1).png', border='0', alt='About DotA')
        div(style='clear:both;')
        a(href='http://www.playdota.com/about', title='About DotA') About PlayDotA.com
        |  | Terms and Conditions 
        a(href='http://www.playdota.com/', title='DotA Community WebSite') © 2010 PlayDotA.com
        |  | All Rights Reserved
    script(type='text/javascript').
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    script(src='DotA Items and Recipes_files/ga.js', type='text/javascript')
    script(type='text/javascript').
      var pageTracker = _gat._getTracker("UA-9106374-1");
      pageTracker._trackPageview();

include presentation-footer
include main-footer
