	link(href='DotA Items and Recipes_files/style.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='DotA Items and Recipes_files/prototype.js')
    script(type='text/javascript', src='DotA Items and Recipes_files/scripts.js')
    script(type='text/javascript', src='DotA Items and Recipes_files/swfobject.js')
    script(type='text/javascript', src='DotA Items and Recipes_files/jquery.min.js')
    script(type='text/javascript').
      var $j = jQuery.noConflict();
    script(type='text/javascript', src='DotA Items and Recipes_files/ncode_imageresizer.js')
    script(type='text/javascript').
      <!--
      NcodeImageResizer.MODE = 'newwindow';
      NcodeImageResizer.MAXWIDTH = 556;
      NcodeImageResizer.MAXHEIGHT = 0;
      NcodeImageResizer.MAXWIDTHSIGS = 500;
      NcodeImageResizer.MAXHEIGHTSIGS = 300;
      NcodeImageResizer.BBURL = 'http://www.playdota.com/forums';
      vbphrase = new Array();
      vbphrase['ncode_imageresizer_warning_small'] = 'Click this bar to view the full image.';
      vbphrase['ncode_imageresizer_warning_filesize'] = 'This image has been resized. Click this bar to view the full image. The original image is sized %1$sx%2$s and weights %3$sKB.';
      vbphrase['ncode_imageresizer_warning_no_filesize'] = 'This image has been resized. Click this bar to view the full image. The original image is sized %1$sx%2$s.';
      vbphrase['ncode_imageresizer_warning_fullsize'] = 'Click this bar to view the small image.';
      //-->
    style(type='text/css').
      table.ncode_imageresizer_warning {
      background: #000000;
      color: #FFFFFF;
      border: 1px solid #CCCFFF;
      cursor: pointer;
      }
      table.ncode_imageresizer_warning td {
      font-size: 10px;
      vertical-align: middle;
      text-decoration: none;
      }
      table.ncode_imageresizer_warning td.td1 {
      padding: 5px;
      }
      table.ncode_imageresizer_warning td.td1 {
      padding: 2px;
      }
    style(type='text/css').
